<!-- views/config.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bingo Configuration</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>Bingo Configuration</h1>
      <div class="header-buttons">
        <a href="/">Retour au Bingo</a>
      </div>
    </header>
    <form action="/config" method="post">
      <label for="columns">Les colonnes doivent tous être égales. Mettre une virgule entre chaque mot</label>
      <% for (let i = 0; i < columnValues.length; i++) { %>
        <input type="text" name="columns[]" value="<%= columnValues[i].join(',') %>">
      <% } %>
      <button type="submit">Mise à jour de la configuration</button>
    </form>
  </div>
</body>
</html>
