/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Light gray background */
}

.container {
  max-width: 75%;
  margin: 2rem auto; /* Use rem for margin */
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem; /* Rounded corners */
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

h1 {
  margin: 0;
  color: #2c3e50; /* Dark blue-gray text color */
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button, a {
  padding: 1rem 1.5rem; /* Use rem for padding */
  background-color: #3498db; /* Blue button color */
  color: #fff;
  border: none;
  border-radius: 0.5rem; /* Rounded corners */
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

button:hover, a:hover {
  background-color: #2980b9; /* Darker blue on hover */
}

.bingo-board {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bingo-table {
  border-collapse: collapse;
  margin-top: 2rem;
}

.bingo-cell {
  position: relative;
  cursor: pointer;
  flex: 0 0 calc(20% - 2rem); /* Use rem for width and margin */
  margin: 1rem; /* Use rem for margin */
  border: 0.2rem solid #95a5a6; /* Light blue-gray border */
  box-sizing: border-box;
  border-radius: 0.8rem; /* Rounded corners */
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.bingo-cell:hover {
  transform: scale(1.05); /* Enlarge on hover */
}

.bingo-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem; /* Use rem for padding */
  font-size: 1.6rem; /* Use rem for font size */
  text-align: center;
}

.cross {
  z-index: 1; /* Ensure the cross is above the text */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem; /* Increase font size for a larger cross */
  color: #e74c3c; /* Red cross color */
  visibility: hidden;
}

.crossed .cross {
  visibility: visible;
}

@media only screen and (max-width: 600px) {
  .bingo-cell {
    flex: 0 0 calc(50% - 2rem);
  }

  .bingo-text {
    font-size: 1.4rem; /* Use rem for font size */
  }
}

/* config.ejs specific styles */

form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

label {
  margin-bottom: 0.5rem;
  color: #2c3e50; /* Dark blue-gray text color */
}

input {
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #bdc3c7; /* Light gray border */
  border-radius: 0.5rem; /* Rounded corners */
}

/* Adjust the form button styling */
form button {
  margin-top: 1rem;
  background-color: #27ae60; /* Green button color */
}

form button:hover {
  background-color: #218c53; /* Darker green on hover */
}
